
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%-defineContent('pageTitle')%></title>
  <meta name="description" content="" />
  <meta name="author" content="" />
</head>

<body>
  <%- body %>
  <%-defineContent('footer')%>
</body>
</html>
